body {
    background-color: white;
    color: black;
    font-size: 10pt;
    font-family: verdana, arial, sans-serif;
    margin: 0;
}

/* Delete buttons */
.danger {
    background: #fbb;
    border: 2px outset red;
    padding-left: 0.5ex;
    padding-right: 0.5ex;
}

.err-msg {
    color: #c00;
    background-color: #fee;
    border: 1px solid #c00;
    border-left: 0.5em solid #c00;
    margin-top: 0.5ex;
    font-weight: bold;
    padding-left: 1ex;
}
.warn-msg {
    color: #c80;
    background-color: #fed;
    border: 1px solid #c80;
    border-left: 0.5em solid #c80;
    margin-top: 0.5ex;
    font-weight: bold;
    padding-left: 1ex;
}
.info-msg {
    color: #080;
    background-color: #efe;
    border: 1px solid #080;
    border-left: 0.5em solid #080;
    margin-top: 0.5ex;
    font-weight: bold;
    padding-left: 1ex;
}

.infobox {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70%;
    border: 2px solid #ecc;
    background-color: #fee;
}

/* Banner */
.bannerbox {
    border-bottom: 1px solid black;
    text-align: left;
}
.bannerbox .logo {
    text-align: right;
    border-right: 4px solid #ccc;
    padding-right: 1ex;
}
.bannerbox .tit {
    font-size: 24pt;
}
.bannerbox .subtit {
    font-size: 8pt;
}
.bannerbox .copyright {
    font-size: 6pt;
}
.bannerbox .copyright a {
    text-decoration: none;
    color: black;
    background-color: inherit;
}
.bannerbox .copyright a:hover {
    text-decoration: underline;
}

@media print {
    .bannerbox {
        display: none;
    }
}

/* === */
.dsview 
{
    width: 100%;
}
.dsview th {
    text-align: left;
    border-bottom: 4px solid #ccc;
    padding-top: 0.5ex;
}
.dsview td {
    background-color: #eee;
}
.dsview input {
    width: 6em;
}

/* === */
.explore {
    text-align: left;
}

.explore th {
    text-align: left;
    font-weight: bold;
}

.explore .label {
    text-align: right;
}

.explore .detail {
    background-color: #eee;
    color: inherit;
}

.scrolltab {
    overflow: auto;
    height: 20em;
    width: 100%;
    border-collapse: collapse;
}
.scrolltab th {
    border: 1px solid black;
    text-align: left;
}
.scrolltab td {
    border: 1px solid black;
    text-align: left;
}

.times {
    font-size: 50%;
    color: #888;
}
.timedetail {
    margin: 0.5ex;
    padding: 0.5ex;
    width: 30em;
    border: 1px solid #ccc;
    background-color: #eee;
    font-size: 50%;
    color: #888;
}
 

.submit {
    width: 6em;
    font-size: 9pt;
}
.bodytable {
    width: 90%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 1ex;
    text-align: left;
}
@media print {
    .bodytable {
        display: none;
    }
}
.bodytable td {
    vertical-align: top;
}

.bodytable .actions {
    padding: 1ex;
    border: 1px solid black;
    background: #eee;
}
.bodytable .actions input {
    width: 10em;
}

.bodytable .section {
    width: 20%;
    font-weight: bold;
    padding-left: 4px;
/*    font-size: 90%; */
    white-space: nowrap;
    background: #eee;
    border-right: 4px solid #ccc;
    padding-right: 1ex;
}
.bodytable .note {
    font-size: 70%;
    color: #888;
}
.rowtable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0ex;
    white-space: nowrap;
}
.rowtable .arrows {
    width: 14px;
    vertical-align: middle;
}

.fill, .fill * {
    width: 99%;
}

.error {
    color: white;
    font-weight: bold;
    background-color: #c33;
}

.warn {
    color: white;
    font-weight: bold;
    background-color: #fc0;
}

.filteredit {
    margin: 0;
    border-top: 2px solid #888;
    position: absolute;
    height: 30ex;
    bottom: 0;
    left: 0;
    right: 0;
    border-collapse: collapse;
}
.filteredit .title {
    font-weight: bold;
}

.filteredit .filterbuttons {
    background-color: #ccc;
    border-bottom: 2px solid #888;
    width: 100%;
    margin: 0;
    border-collapse: collapse;
    padding: 2px;
}
.filteredit .rightfloatbuttons {
    float: right;
    height: 100%;
    vertical-align: middle;
    width: 6em;
}

.filterlabel {
    width: 100%;
    background-color: #ccf;
    border-collapse: collapse;
}
.filterlabel .label {
    color: #888;
    white-space: nowrap;
    padding-left: 1em;
}
.filterlabel .value {
    font-weight: bold;
    white-space: nowrap;
}
.filterlabel .desc {
    width: 100%;
    white-space: normal;
}
.filterlabeledit {
    background-color: #ccf;
}
.filterlabeledit .edit th {
    text-align: left;
}
.filterlabeledit .edit td {
    white-space: nowrap;
}
.filterlabeledit .edit .field {
    width: 30em;
}
.filterdelete {
    background: #fcc;
    color: #f00;
    text-align: center;
}

.filtertop {
    position: absolute;
    top: 0;
    bottom: 30ex;
    width: 100%;
    overflow: auto;
}
.filter {
    border-collapse: separate;
    text-align: left;
    width: 100%;
}

.filter .group {
    background-color: #ccc;
    color: inherit;
    border-top: #933 2px solid;
    border-left: #933 2px solid;
    border-bottom: #933 2px solid;
    width: 2em;
    text-align: center;
}
.filter .groupsel {
    background-color: #fcc;
    color: inherit;
    border-top: #933 2px solid;
    border-left: #933 2px solid;
    border-bottom: #933 2px solid;
    width: 2em;
    text-align: center;
}
.filter .leaf {
    background-color: #ccc;
    color: inherit;
    border-top: #933 1px solid;
    border-right: #933 1px solid;
    border-bottom: #933 1px solid;
    /*white-space: nowrap;*/
}
.filter .leafsel {
    background-color: #fcc;
    color: inherit;
    border-top: #933 1px solid;
    border-right: #933 1px solid;
    border-bottom: #933 1px solid;
}
.exprview {
    background-color: #c99;
}
.exprview .edit .sel {
    width: 14em;
}
.exprview .edit .highlight {
    background-color: #fcc;
    color: inherit;
    border-left: 3px solid #c99;
    border-right: 3px solid #c99;
    padding: 3px;
    text-align: center;
}
.exprview .edit .selbutton {
    width: 100%;
    background-color: #fcc;
    display: block;
    font-weight: bold;
}
.exprview .edit .selbutton:hover {
    background-color: #fcc;
}
.exprview .edit textarea {
    width: 99%;
}

.search {
    background-color: #ffc;
    margin-left: auto;
    margin-right: auto;
}

.butt input {
    width: 6em;
}

.outputsel {
    width: 6em;
}

.header {
    font-weight: bold;
    text-align: center;
    font-size: 120%;
    white-space: pre;
}
.footer {
    font-weight: bold;
    text-align: center;
    white-space: pre;
}

.tableout {
    border: solid #999;
    border-collapse: collapse;
}
.tableout th {
    border-bottom: double #ccc;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    font-weight: bold;
}
.tableout td {
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    text-align: left;
    padding-left: 4px;
    padding-right: 4px;
}
.tableout .numeric {
    text-align: right;
}

.crosstab {
    border-collapse: collapse;
}

.crosstab .rgroup {
    border: solid 1px black;
}

.crosstab .cgroup {
    border: solid 1px black;
}
.crosstab .row .label {
    border: solid 2px black;
    font-weight: bold;
    white-space: normal;
}

.crosstab .row .value {
    border: solid 1px black;
    font-weight: bold;
    font-size: 80%;
    white-space: normal;
}

.crosstab .column .label {
    border: solid 2px black;
    font-weight: bold;
    white-space: normal;
}

.crosstab .column .value {
    border: solid 1px black;
    font-weight: bold;
    font-size: 80%;
    white-space: normal;
}
.crosstab .data {
    border: dotted 1px #99f;
    font-size: 80%;
    white-space: nowrap;
}
.crosstab .data-t {
    border: dotted 1px #99f;
    border-top: solid 1px #99f;
    font-size: 80%;
    white-space: nowrap;
}
.crosstab .data-l {
    border: dotted 1px #99f;
    border-left: solid 1px #99f;
    font-size: 80%;
    white-space: nowrap;
}
.crosstab .data-lt {
    border: dotted 1px #99f;
    border-left: solid 1px #99f;
    border-top: solid 1px #99f;
    font-size: 80%;
    white-space: nowrap;
}
.crosstab .data-b {
    border: dotted 1px #99f;
    border-bottom: solid 1px #99f;
    font-size: 80%;
    white-space: nowrap;
}
.crosstab .data-r {
    border: dotted 1px #99f;
    border-right: solid 1px #99f;
    font-size: 80%;
    white-space: nowrap;
}
.crosstab .data-br {
    border: dotted 1px #99f;
    border-bottom: solid 1px #99f;
    border-right: solid 1px #99f;
    font-size: 80%;
    white-space: nowrap;
}

.condcol {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    padding: 2px;
}

.condcol .buttons {
    background-color: #ddd;
}

.condcol td {
    border-width: 1px;
    border-color: #888;
    border-style: none solid solid solid;
    vertical-align: top;
}
.condcol th {
    border-width: 1px;
    border-color: #888;
    border-style: solid solid none solid;
    border-bottom: 3px double #888;
}
.condcol table td {
    /* we'd rather use a child selector above, but IE doesn't support them, so
     * we explicitly reset stuff */
    border-style: none;
}
.condcol .edit {
    background-color: #fdd;
    width: 100%;
}
.condcol .display td {
    border-collapse: collapse;
    border-width: 1px;
    border-color: #888;
    border-style: none none solid none;
    vertical-align: top;
}

.leftcol {
    width: 50%; 
    display: block; 
    float: left;
    white-space: normal;
}
.rightcol {
    width: 50%; 
    display: block; 
    float: left;
    white-space: normal;
}

.twobytwoparams {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.twobytwoparams th {
    text-align: left;
}
.twobytwoparams .ops {
    vertical-align: top;
    white-space: nowrap;
}
.twobytwoparams .inc {
    width: 50%;
    vertical-align: top;
}
.twobytwoparams .exc {
    vertical-align: top;
}
.twobytwoparams .buttons {
    background-color: #ccc;
}
.twobytwoparams .widebutt input {
    width: 8em;
}
.twobytwoparams .result {
    background-color: #ffc;
}

.twobytwo {
    text-align: left;
}
.twobytwo td {
    vertical-align: top;
}
.twobytwo .sechead {
    font-size: 120%;
    font-weight: bold;
    background-color: #ddd;
    border-top: 2px solid black;
}
.twobytwo .subsechead {
    font-size: 120%;
    font-weight: bold;
    background-color: #eee;
}

.twobytwo .twobytwotab {
    border-collapse: collapse;
}
.twobytwo .twobytwotab .cell {
    border: 1px solid black;
    width: 10em;
}
.twobytwo .twobytwotab td {
    text-align: center;
}
.twobytwo .twobytwotab .side {
    text-align: right;
}
.twobytwo .twobytwotab .top {
    text-align: center;
}
.twobytwo .twobytwotab .mt {
    border: 1px solid black;
    background-color: #eee;
    width: 10em;
}
