<al-comment>

    The contents of this file are subject to the HACOS License Version 1.2
    (the "License"); you may not use this file except in compliance with
    the License.  Software distributed under the License is distributed
    on an "AS IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
    implied. See the LICENSE file for the specific language governing
    rights and limitations under the License.  The Original Software
    is "NetEpi Analysis". The Initial Developer of the Original
    Software is the Health Administration Corporation, incorporated in
    the State of New South Wales, Australia.  
    
    Copyright (C) 2004,2005 Health Administration Corporation. 
    All Rights Reserved.

</al-comment>

<al-include name="colvalselect.html" />

<al-macro name="filterbuttons">
     <table class="filterbuttons">
      <tr>
       <td align="left">
        <al-input type="submit" class="submit" name="cancel" value="Abandon" />
       </td>
       <td align="center">
        <al-input type="submit" class="submit danger" name="delete" value="Del Filter" />
       </td>
       <td align="center">
        <al-input type="submit" class="submit" name="undo" value="Undo" />
        <al-input type="submit" class="submit" name="redo" value="Redo" />
       </td>
       <td align="right">
        <al-input type="submit" class="submit" name="save" value="Save" />
        <al-input type="submit" class="submit" name="okay" value="Done" />
       </td>
      </tr>
     </table>
</al-macro>

<al-macro name="colselect">
     <al-select name="filter.edit_expr.colname" onchange="submit();">
      <al-option label="Choose..." value="" />
       <al-for vars="grouplabel, cols" expr="edit_expr.colgroups()">
        <al-optgroup labelexpr="grouplabel">
         <al-for vars="name, label" expr="cols">
          <al-option labelexpr="label" valueexpr="name" />
         </al-for>
        </al-optgroup>
       </al-for>
      </al-select>
</al-macro>

<al-macro name="opselect">
     <al-select name="filter.edit_expr.op" onchange="submit();">
      <al-option label="Choose..." value="" />
       <al-for vars="grouplabel, ops" expr="edit_expr.col_ops()">
        <al-optgroup labelexpr="grouplabel">
         <al-for vars="name, label" expr="ops">
          <al-option labelexpr="label" valueexpr="name" />
         </al-for>
        </al-optgroup>
       </al-for>
      </al-select>
</al-macro>

<al-macro name="values">

 <al-if expr="edit_expr.value.markup == 'general'">
  <al-input name="filter.edit_expr.value.value" 
   expr="filter.edit_expr.value.strval()" />
 </al-if>

 <al-if expr="edit_expr.value.markup == 'textarea'">
  <al-textarea name="filter.edit_expr.value.value" rows="6" cols="20" />
 </al-if>

 <al-if expr="edit_expr.value.markup == 'discrete'">
  <al-expand name="value_edit" />
 </al-if>

 <al-if expr="edit_expr.value.markup == 'date'">
  <al-select name="filter.edit_expr.value.year" 
   optionexpr="edit_expr.value.yearopt()" />
  <al-select name="filter.edit_expr.value.month" 
   optionexpr="edit_expr.value.monthopt()" />
  <al-select name="filter.edit_expr.value.day" 
   optionexpr="edit_expr.value.dayopt()" />
 </al-if>

</al-macro>

<al-macro name="filter_view">
    <table class="filter">
     <tr>
      <al-tree iter="node_i" expr="filter.root">
       <al-exec expr="node = node_i.value()" />
       <al-if expr="not node.children">
        <al-td colspanexpr="node_i.span()" 
         classexpr="filter.node_is_selected(node) and 'leafsel' or 'leaf'">
         <al-input nameexpr="'node/' + node.path" 
          type="image" src="/nea/target.png" />&nbsp;<al-value 
          expr="node.describe(filter.dsname)" />
        </al-td>
        </tr><tr>
       <al-else>
        <al-td rowspanexpr="node.height()"
          classexpr="filter.node_is_selected(node) and 'groupsel' or 'group'">
         <al-input nameexpr="'node/' + node.path" 
          type="image" src="/nea/target.png" />&nbsp;<al-value 
           expr="node.describe(filter.dsname)" />
        </al-td>
       </al-if>
      </al-tree>
     </tr>
    </table>
</al-macro>

<al-macro name="expression_view">
 <div class="filteredit exprview" style="height: 40ex;">
  <al-expand name="filterbuttons" />
  <div class="title">Edit expression:</div>
  <al-exec expr="edit_expr = filter.edit_expr" />
  <table class="edit" style="width: 100%;">
   <tr>
    <th class="highlight">Insert</th>
    <th>&nbsp;</th>
    <al-for vars="mode, label" expr="edit_expr.modes">
     <al-if expr="edit_expr.state == mode">
      <th class="highlight">
       <al-input disabled name="x" type="submit" class="selbutton" 
        expr="label" />
      </th>
     <al-else>
      <th>
       <al-input type="submit" class="selbutton" expr="label"
        nameexpr="'expr_select/%d' % mode" />
      </th>
     </al-if>
    </al-for>
    <td rowspan="2" align="right">
        <al-input name="clear_edit" class="submit" 
           type="submit" value="Cancel" /><br><br>
        <al-input name="expr_okay" class="submit" 
           type="submit" value="Okay" /><br><br>
        <al-input name="expr_okay_add" class="submit" 
           type="submit" value="Add more" /><br><br>
    </td>
   </tr>
   <tr>
    <td class="highlight">
     <al-input name="expr_insert/and" class="submit" type="submit" value="and" /><br>
     <al-input name="expr_insert/or" class="submit" type="submit" value="or" /><br>
     <br>
     <b>or</b><br>
     <al-if expr="filter.copy_buffer">
      <al-input name="paste" class="submit" type="submit" value="Paste" /><br>
     </al-if>
     <al-input name="req_import" class="submit" type="submit" value="Import" /><br>
     <al-input name="delete_node" class="submit danger" type="submit" value="Delete" />
    </td>
    <td>&nbsp;</td>
    <al-if expr="edit_expr.state == edit_expr.EDITCOL">
     <td class="highlight">
      <al-expand name="colselect" />
     </td>
    <al-else>
     <td>
      <al-if expr="edit_expr.colname">
       <al-value expr="edit_expr.get_column().label" />
      </al-if>
     </td>
    </al-if>
    <al-if expr="edit_expr.state == edit_expr.EDITOP">
     <td align="center" class="highlight"><al-expand name="opselect" /></td>
    <al-else>
     <td align="center">
      <al-if expr="edit_expr.op">
       <al-value expr="edit_expr.op" />
      </al-if>
     </td>
    </al-if>
    <al-if expr="edit_expr.state == edit_expr.EDITVALUE">
     <td class="highlight"><al-expand name="values" /></td>
    <al-else>
     <td><al-value expr="edit_expr.pretty_value(workspace)" /></td>
    </al-if>
   </tr>
   <al-if expr="edit_expr.show_search_box(workspace)">
    <tr>
     <td colspan="3">
      <al-expand  name="colval_search" />
     </td>
    </tr>
   </al-if>
  </table>
 </div>
</al-macro>

<al-macro name="andor_view">
 <div class="filteredit exprview">
  <al-expand name="filterbuttons" />
  <div class="title">Edit and/or expression:</div>
  <table class="edit">
   <tr>
    <th class="highlight">Insert</th>
    <th class="highlight">Replace</th>
    <th class="highlight">Change to</th>
   </tr>
   <tr>
    <td class="highlight">
     <al-input name="andor_insert/and" class="submit" type="submit" value="and" /><br>
     <al-input name="andor_insert/or" class="submit" type="submit" value="or" /><br>
    </td>
    <td class="highlight">
     <al-if expr="filter.copy_buffer">
      <al-input name="paste" class="submit" type="submit" value="Paste" /><br>
     </al-if>
     <al-input name="req_import" class="submit" type="submit" value="Import" /><br>
     <al-input name="delete_node" class="submit danger" type="submit" value="Delete" /><br>
    </td>
    <td class="highlight">
     <al-if expr="filter.edit_andor.node.name == 'and'">
      <al-input name="andor_change/or" class="submit" type="submit" value="or" /><br>
     <al-else>
      <al-input name="andor_change/and" class="submit" type="submit" value="and" /><br>
     </al-if>
     <br><b>Add</b><br>
     <al-input type="submit" class="submit" name="andor_add_expr" value="Expression"><br>
    </td>
   </tr>
  </table>
 </div>
</al-macro>

<al-macro name="info_edit">
 <div class="filteredit filterlabeledit">
  <al-expand name="filterbuttons" />
  <div class="title">Edit filter name and label:</div>
  <table class="edit">
   <tr>
    <td><label for="edit_info_name">Filter name:</label></td>
    <td><al-input id="edit_info_name" class="field" name="filter.edit_info.name" /></td>
   </tr>
   <tr>
    <td><label for="edit_info_label">Filter label:</label></td>
    <td><al-input id="edit_info_label" class="field" name="filter.edit_info.label" /></td>
   </tr>
   <tr>
    <td align="right" colspan="2">
     <al-input type="submit" class="submit" name="clear_edit" value="Cancel" />
     <al-input type="submit" class="submit" name="info_edit_apply" value="Apply" />
    </td>
   </tr>
  </table>
 </div>
</al-macro>

<al-expand name="body">
 <al-if expr="filter.edit_expr">
  <div id="filtertop" class="filtertop" style="bottom: 40ex;">
 <al-else>
  <div id="filtertop" class="filtertop">
 </al-if>
  <al-expand name="bannerbox" />
  <al-expand name="msgs" />
  <table class="filterlabel">
   <tr>
    <td class="label">Editing filter:</td>
    <td class="value"><al-value expr="filter.name" /></td>
    <td class="label">Description:</td>
    <td class="value desc"><al-value expr="filter.label" /></td>
    <td align="right">
     <al-if expr="not filter.edit_info">
      <al-input type="submit" class="submit"
       name="edit_info" value="Edit Info" />
     </al-if>
    </td>
   </tr>
  </table>
    
  <al-expand name="filter_view" />
 </div>

 <al-if expr="confirm_quit">
  <div class="filteredit filterdelete">
   <br>Quit and abandon changes?<br><br>
   <al-input type="submit" class="submit" name="cancel_cancel" value="No" />
   <al-input type="submit" class="submit" name="cancel_confirm" value="Yes" />
  </div>
 <al-elif expr="delete_confirm">
  <div class="filteredit filterdelete">
   <br>Delete this filter?<br><br>
   <al-input type="submit" class="submit" name="delete_cancel" value="Cancel" />
   <al-input type="submit" class="submit" name="delete_confirm" value="Delete" />
  </div>
 <al-elif expr="want_import">
  <div class="filteredit exprview">
   <al-expand name="filterbuttons" />
   <div class="title">Import another filter at this point</div>
   <al-select name="import_filter"
    optionexpr="dsparams.available_filters()" />
   <al-input class="submit" type="submit" value="Import"
     name="import"  /></td>
   <al-input name="import_cancel" class="submit" 
     type="submit" value="Cancel" />
  </div>
 <al-elif expr="filter.edit_info">
  <al-expand name="info_edit" />
 <al-elif expr="filter.edit_expr">
   <al-expand name="expression_view" />
 <al-elif expr="filter.edit_andor">
   <al-expand name="andor_view" />
 <al-else>
  <div class="filteredit">
   <al-expand name="filterbuttons" />
  </div>
 </al-if>
 <script>scrollToClass('filtertop', 'groupsel');scrollToClass('filtertop', 'leafsel');</script>
</al-expand>
