<al-comment>

    The contents of this file are subject to the HACOS License Version 1.2
    (the "License"); you may not use this file except in compliance with
    the License.  Software distributed under the License is distributed
    on an "AS IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
    implied. See the LICENSE file for the specific language governing
    rights and limitations under the License.  The Original Software
    is "NetEpi Analysis". The Initial Developer of the Original
    Software is the Health Administration Corporation, incorporated in
    the State of New South Wales, Australia.  
    
    Copyright (C) 2004,2005 Health Administration Corporation. 
    All Rights Reserved.

</al-comment>

<al-expand name="page_layout_title">
 <table class="dsview">
  <tr>
   <th>&nbsp;</th>
   <th>Datasets</th>
   <th>Record count</th>
   <th>Updated</th>
   <th>&nbsp;</th>
  </tr>
  <al-for vars="ds" expr="workspace.datasets()">
   <tr>
    <td><al-input type="submit" value="Analyse" 
        nameexpr="'analyse/%s' % ds.name" ></td>
    <td><al-value expr="ds.label"></td>
    <td align="right"><al-value expr="len(ds)"></td>
    <td nowrap><al-value expr="ds.date_updated.strftime('%Y-%d-%m %H:%M')"></td>
    <td><al-input type="submit" value="More" 
        nameexpr="'about/%s' % ds.name" ></td>
   </tr>
  </al-for>
 </table>
 <al-if expr="bool(analyses)">
  <al-input type="submit" value="Prepared Analyses" name="show_prepared" />
 </al-if>
</al-expand>
