<al-comment>

    The contents of this file are subject to the HACOS License Version 1.2
    (the "License"); you may not use this file except in compliance with
    the License.  Software distributed under the License is distributed
    on an "AS IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
    implied. See the LICENSE file for the specific language governing
    rights and limitations under the License.  The Original Software
    is "NetEpi Analysis". The Initial Developer of the Original
    Software is the Health Administration Corporation, incorporated in
    the State of New South Wales, Australia.  
    
    Copyright (C) 2004,2005 Health Administration Corporation. 
    All Rights Reserved.

</al-comment>

<al-macro name="page_buttons">
 <al-if expr="not output.pages()">
  (<al-value expr="len(output.dsrows)" /> result rows)
 <al-else>
  <table width="100%">
   <tr>
    <td align="left">
     <al-if expr="output.has_prevpage()">
      <al-input type="submit" name="prev_page" value="Previous Page" />
     </al-if>
    </td>
    <td align="center" width="100%">
     Page <al-value expr="output.page()" /> of <al-value expr="output.pages()" /> (<al-value expr="len(output.dsrows)" /> rows overall) Goto page: <al-input name="select_page" size="8" list><al-input type="submit" name="select_page_go" value="Go">
    </td>
    <td align="right">
     <al-if expr="output.has_nextpage()">
      <al-input type="submit" name="next_page" value="Next Page" />
     </al-if>
    </td>
   </tr>
  </table>
 </al-if>
</al-macro>

   <al-exec expr="output = workspace.output" />
   <al-exec expr="full_ds = workspace.get_dataset()" />
   <al-exec expr="ds = SOOMv0.filtered_ds(full_ds, output.dsrows)" />
   <al-exec expr="cols = ds.get_columns(output.colnames)" />
   <div class="header"><al-value expr="output.title" /></div>
   <al-if expr="not output.has_rows()">
    <i>No results returned by query.  Try a less specific query.</i>
   <al-else>
    <al-expand name="page_buttons" />
    <table class="tableout">
     <tr>
      <th>Row</th>
      <al-for iter="col_i" expr="cols">
       <th><al-value expr="col_i.value().label" /></th>
      </al-for>
     </tr>
     <al-for iter="row_i" expr="output.page_rows()">
      <tr>
       <td class="numeric"><al-value expr="row_i.value() + 1" /></td>
       <al-for iter="col_i" expr="cols">
         <al-exec expr="col = col_i.value()" />
         <al-exec expr="value = col.do_outtrans(col[row_i.value()])" />
         <al-if expr="type(value) in (int, float)">
          <td class="numeric">
           <al-value expr="col.do_format(value)" />
          </td>
         <al-else>
          <al-exec expr="highlight = output.highlight_fns.get(col.name)" />
          <al-if expr="highlight is not None">
           <td><al-value expr="col.do_format(highlight(value))" noescape /></td>
          <al-else>
           <td><al-value expr="col.do_format(value)" /></td>
          </al-if>
         </al-if>
       </al-for>
      </tr>
     </al-for>
    </table>
    <al-expand name="page_buttons" />
   </al-if>
   <div class="footer"><al-value expr="output.subtitle" /></div>
