<al-comment>

    The contents of this file are subject to the HACOS License Version 1.2
    (the "License"); you may not use this file except in compliance with
    the License.  Software distributed under the License is distributed
    on an "AS IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
    implied. See the LICENSE file for the specific language governing
    rights and limitations under the License.  The Original Software
    is "NetEpi Analysis". The Initial Developer of the Original
    Software is the Health Administration Corporation, incorporated in
    the State of New South Wales, Australia.  
    
    Copyright (C) 2004,2005 Health Administration Corporation. 
    All Rights Reserved.

</al-comment>

<al-expand name="page_layout">
 <div align="center">
  <al-if expr="workspace.output.inline">
   <div class="bodytable" style="text-align: right;">
    <al-input type="submit" name="back" value="Start again" />
    <al-input type="submit" name="show_params" value="Parameters" />
   </div>
  </al-if>

  <al-lookup name="output_markup">
   
   <al-item expr="'imageout'">
    <al-include name="output_image.html" />
   </al-item>

   <al-item expr="'tableout'">
    <al-include name="output_table.html" />
   </al-item>

   <al-item expr="'crosstab'">
    <al-include name="output_crosstab.html" />
   </al-item>

   <al-item expr="'dsrows'">
    <al-include name="output_dsrows.html" />
   </al-item>

   <al-item expr="'twobytwo'">
    <al-include name="output_twobytwo.html" />
   </al-item>

  </al-lookup>

  <al-value expr="workspace.output.markup" lookup="output_markup" />

 </div>
 <div class="times">Analysis took <al-value expr="'%.1f' % workspace.output.elapsed" /> seconds</div>
 <al-expand name="timedetail" />
</al-expand>
