<al-comment>

    The contents of this file are subject to the HACOS License Version 1.2
    (the "License"); you may not use this file except in compliance with
    the License.  Software distributed under the License is distributed
    on an "AS IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
    implied. See the LICENSE file for the specific language governing
    rights and limitations under the License.  The Original Software
    is "NetEpi Analysis". The Initial Developer of the Original
    Software is the Health Administration Corporation, incorporated in
    the State of New South Wales, Australia.  
    
    Copyright (C) 2004,2005 Health Administration Corporation. 
    All Rights Reserved.

</al-comment>

<al-expand name="page_layout_title">
 <al-if expr="delete_an">
  <div class="infobox">
   <center>
    <table style="text-align: left;" class="infobox">
     <tr>
      <th>Analysis name:</th>
      <td><al-value expr="delete_an.label"></td>
     </tr>
     <tr>
      <th>Dataset:</th>
      <td><al-value expr="delete_an.get_dataset().label"></td>
     </tr>
    </table>
    Are you sure you want to delete this analysis?
    <table>
     <tr>
      <td><al-input type="submit" name="delete_cancel" value="No" /></td>
      <td><al-input type="submit" name="delete_confirm" value="Yes" /></td>
     </tr>
    </table>
   </center>
  </div>
 <al-else>
  <table class="dsview">
   <tr>
    <td align="center"><al-input type="submit" value="New" name="new" /></td>
    <td colspan="5">New Analysis</td>
   </tr>
   <tr>
    <th>&nbsp;</th>
    <th>Analysis</th>
    <th>Dataset</th>
    <th>Record count</th>
    <th>Updated</th>
    <th>&nbsp;</th>
   </tr>
   <al-for vars="an" expr="analyses.available()">
    <al-exec expr="ds = an.get_dataset()" />
    <tr>
     <td align="center"><al-input type="submit" value="Analyse" 
         nameexpr="'analyse/%s' % an.fn" ></td>
     <td><al-value expr="an.label"></td>
     <td><al-value expr="ds.label"></td>
     <td align="right"><al-value expr="len(ds)"></td>
     <td nowrap><al-value expr="ds.date_updated.strftime('%Y-%d-%m %H:%M')"></td>
     <td align="center"><al-input type="submit" value="Delete" 
         nameexpr="'delete/%s' % an.fn" ></td>
    </tr>
   </al-for>
  </table>
 </al-if>
</al-expand>
